.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*border: 15px solid darkgreen;*/
    padding: 8px;
    height: 500px;
    width: 500px;
}
form input#f1,#f2,#f3{
    border: 0px;
    border-radius: 25px;
    border-bottom: 1px solid;
    height: 20px;
    width: 98%;
    font-size: 20px;
}
#Submit{
    background-color: darkgreen;
    /*border: 1px solid dimgray;*/
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    cursor: pointer;
    float: left;
    width: 500px;
    border-radius: 20px;

}