.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 8px;
    /*height: 850px;*/
    width: 700px;
}
#firstRow{
    background-color: darkgreen;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-size: xxx-large ;

}
h2{
    color: darkgreen;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
    /*font-size: medium;*/
    font-size: xx-large;
    display: block;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;

}

/*li a {*/
/*    display: block;*/
/*    color: #666;*/
/*    text-align: center;*/
/*    !*padding: 14px 16px;*!*/
/*    text-decoration: none;*/
/*}*/

li :hover {
    background-color: #ddd;

}
.Disabled{
    pointer-events: none;
}
#menu :hover{
    background-color: darkgreen;
}
 .active {
    color: white;
     /*font-size: larger;*/
    /*background-color: #04AA6D;*/
    background-color: darkgreen;
     /*padding: 14px 16px;*/
}
 #newMatch,#teams,#history,#menu{
     border: 0;
     font-size: large;
     padding: 14px 16px;
     cursor: pointer;

 }
#user_form{
    background-color: #f3f3f3;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
}
form input#t1Name,#t2Name,#over{
    /*margin-left: 2%;*/
    border: 0px;
    /*border-radius: 25px;*/
    border-bottom: 1px solid;
    margin-bottom: 2%;
    height: 25px;
    width: 98%;
}
#Submit{
    background-color: darkgreen;
    border: 1px solid dimgray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    cursor: pointer;
    float: left;
    border-radius: 10px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
.centerSubmit{
    display: block;
    margin-left: auto;
    margin-right: auto;
}