div#headingD {
    background-color: darkgreen;
}
h1#playerHeading{
    font-size: xxx-large;
    color: white;
    padding-left: 7%;
    padding-bottom: 3%;
}
div#selectionDiv {
    padding: 2%;
    background-color: green;
    margin: 0% 0% 1%;
}
span#batting,#bowling,#fielding {
    padding-left: 7%;
    padding-right: 6%;
    color: white;
    font-size: xx-large;
}
img#personIcon2 {
    width: 25%;
    border-radius: 0%;
    padding-left: 32%;
}
span#match ,#innings ,#run,#noOuts,#bestScore,#sr,#avg,#fours,#six,#thirties,#fifties,#hundreds,#duck {
    font-size: x-large;
    color:#666666e3;
    font-size: x-large;
    padding: 0%;
}
td#tbData {
    background-color: white;
    width: 92px;
    padding: 5%;
    font-size: larger;
    border: 34px solid #d3d3d370;
}
table#tb{
    background-color: #d3d3d329;
}
span#matchValue ,#inValue ,#runValue,#noValue,#bestScoreValue,#srValue,#avgValue,#foursValue,#sixValue,#thirtiesValue,#fiftiesValue,#hundredValue,#duckValue {
    color: black;
    padding-left: 22%;
}
span#battingActive, #fieldingActive,#bowlingActive {
    padding-right: 6%;
    border-bottom: 5px solid white;
    padding-left: 7%;
    font-size: xx-large;
    color: white;
}