#title{
    padding: 2%;
    background-color: darkgreen;
}
h1{
    padding-left: 19%;
    color: white;
}
#extraUl,#totalUl{
    padding: 1%;
    border: none;
    background-color: unset;
}
#extraDetails{
    padding-left: 61%;
}
span#ball0,#ball1,#ball2,#ball3,#ball4,#ball5,#ball6 {
    border: 1px solid black;
    color: black;
    font-size: large;
    padding: 4%;
    border-radius: 50%;
}
#scoreButton{
    /*width: 32%;*/
    padding: 4px 8px 0px;
    margin: 0%;
}
.grid-container {
    display: grid;
    grid-template-columns:104px 99px;
    padding-right: 2%;
}
#ball4{
    background-color: darkorange;
    border-color: chocolate;
    color: white;
}
#ball6{
    background-color: green;
    border-color: darkgreen;
    color: white;
}
#totalDetails{
    padding-left: 83%;
}
li :hover{
    background-color: unset;
}
#extraTitle,#extraDetails,#totalTitle,#totalDetails{
    font-size: larger;
}
hr {
    width: 208%;
}
#extrasHr,#totalsHr{
    width: 100%;
}
#backButton{
    /*transform: rotate(180deg);*/
}
h2{
    padding-left: 5%;
    color: black;
}
table{
    padding: 1%;
    border-collapse: collapse;
}
#batsmanStatus {
    text-align: left;
    color: darkslategray;
    font-size: small;
    padding: 0% 0% 0% 1%;
}
#playerName{
    color: black;
}

td{
    width:5%;
    text-align: right;
    padding-left: 1%;
}
#leftTd,#playerName{
    text-align: left;
    width: 25%;
}
#tableHead{
    color: darkslategray;
    padding: 2%;
    background-color: #8fbc8f8f;
}
#teamHeading{
    background-color: darkgreen;
}
#listOfTeamHeading{
    background-color: unset;
}
#upImg{
    transform: rotate(180deg);
    padding-right: 46%;
    padding-top: 18%;
}
img{
    padding-left: 46%;
    padding-top: 18%;
}
#teamName{
    font-size: xx-large;
}
#scoreWicketOver{
    color: white;
    padding-left: 70%;
}

img#backArrow {
    width: 5%;
    padding: 0% 0% 0% 1%;
    /*transform: rotate(180deg);*/
}
span {
    font-size: xxx-large;
    padding: 10%;
    color: white;
}