#scoreBoardDiv {
    background-color: #80808017;
}
#chooseBowlerDiv{
    padding: 2% 2% 2% 17%;
    margin-bottom: 2%;
    background-color: darkgreen;
}
span {
     font-size: larger;
     padding: 0%;
     color: black;
}
#newBowlerName{
    margin: 2%;
}
#addBowlerButton{
    border-radius: 4%;
    height: 45px;
    width:537px;
    background-color: darkgreen;
    color:white;
    margin-left: 12%;
}
#chooseBowler{
    color: white;
}
div #form{
    padding: 0%;
}
#scoreList{
    background-color: white;
    border-color: white;
}
Table{
    padding: 0%;
}
#firstRow{
    padding: 2%;
}
td{
    word-wrap: break-word;
}

.grid-container {
    display: grid;
    grid-template-columns: 49px 30px;
    padding-right: 2%;
}
#scoreTag{
    font-size: x-small;
}
#innings,#teamName{
    font-size: larger;
    color: black;
}
#strikerDetails{
    /*background-color: chartreuse;*/
}
#thisOver{
    /*width: 14%;*/
    font-size: larger;
    margin: 0%;
    padding: 57% 0% 0%;
}
#scoreButton{
    /*width: 32%;*/
    padding: 4px 8px 0px;
    margin: 0%;
}
#playerName{
    color: darkgreen;
}
label{
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: larger;
}

hr{
    height: 2%;
    width: 100%;
    color: black;
}
#tableHead{
    color: black;
    font-size: larger;
    background-color: white;
}
#title{
    background-color: darkgreen;
    padding: 1.5% 1.5% 1.5% 20%;
}
#scoreButtonColumn{
    width: 27%;
    padding-left: 7% ;
}
#leftSide{
    width: 5%;
}

#firstRow,#secondRow, #thirdRow,#fourthRow,#fifthRow{
    font-size: larger;
    background-color: white;
    border-radius: 10px;
    margin: 1%;
}
#heading{
    background-color: darkgreen;
}
h1{
    color: white;
    margin-left: 18%;
}
.button{
    border: 2px solid darkgreen;
    border-radius: 50%;
    padding: 2% 3% 2%;
    margin-right: 3%;
    font-size: 20px;
    cursor: pointer;
}
/*#scoreTaken{*/
/*    margin-right: 5%;*/
/*}*/
#scoreTaken{
    color: black;
}
#fourthRow{
    padding: 4%;
}
#thirdRow{
    padding: 1%;
}

#fifthRow,#sixthRow{
    padding: 2%;
}
#type{
    font-size: small;
}
#runScore,#scoreP,#wicket{
    font-size: xxx-large;
}
#scoreDetails{
    padding-top: 2%;
}
#ball0,#ball1,#ball2,#ball3,#ball4,#ball5,#ball6,#out{

    border: 2px solid grey;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    padding: 12%;
    align-items: center;
    text-align: center;
    /*margin-right: 3%;*/
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    /*background-color: lightgray;*/
}
#crr {
    padding-left: 71%;
}
#crrValue {
    font-size: unset;
    padding-left: 75%;
}
#congo{
    color: black;
}
#trophy{
    width: 100%;
}
#trophyDiv{
    background-color: green;
    border-radius: 50%;
    width: 17%;
    padding: 2%;
    margin-left:20%
}
#winnerTeamName{
    margin-left: 27%;
    color: black;
}
#winnerTeamDetails{
    margin-left: 18%;
    color: black;
}
#ball4{
    background-color: darkorange;
    border-color: chocolate;
    color: white;
}
#ball6{
    background-color: green;
    border-color: darkgreen;
    color: white;
}


#out{
    color: white;
    background-color: brown;
    border-color: darkred;
}
#leftTd,#firstData{
    width: 80%;
    text-align: left;
}
th, td {
    padding: 10px 20px 5px;
}
th {
    border-bottom:  solid;
}

input[type=checkbox]{
    margin: 2%;
}


#swap,#retire{
    background-color: darkgreen;
    border: 1px solid dimgray;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    width: 30%;
    font-size: 18px;
    cursor: pointer;
    float: right;
    border-radius: 10px;
}
#undo,#partnership,#extras{
    background-color: darkgreen;
    border: 1px solid dimgray;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    width: 124%;
    font-size: 19px;
    cursor: pointer;
    float: left;
    border-radius: 10px;
}
hr#batsmanHr {
    width: 192%;
}
hr#bowlerHr {
    width: 180%;
}
div#retireTitle {
    background-color: darkgreen;
    padding: 3%;
}
span#heading {
    background-color: darkgreen;
    padding-left: 7%;
    font-size: xx-large;
    color: white;
}
form#retire_form {
    padding: 2%;
}
input#done {
    background-color: darkgreen;
    width: 67%;
    color: white;
    font-size: xx-large;
    border-radius: 20px;
    padding: 2%;
    margin-left: 13%;
}
h1#retirePlayerHeading,#replaceByHeading {
    color: darkgreen;
    margin-left: 0%;
}
label#retireL {
    padding-left: 1%;
    font-size: xx-large;
}
span#targetText {
    color: darkgreen;
}
span#crr2 {
    padding-left: 41%;
}
span#target {
    padding-left: 11%;
}
span#rr {
    padding-left: 11%;
}
span#crrValue2 {
    padding-left: 39%;
}
span#targetValue {
    padding-left: 12%;
}
span#rrValue {
    padding-left: 12%;
}