#title{
    padding: 2%;
    background-color: darkgreen;
}
h1{
    padding-left: 19%;
    color: white;
}
#extraUl,#totalUl{
    padding: 1%;
    border: none;
    background-color: unset;
}
#extraDetails{
    padding-left: 63%;
}
#totalDetails{
    padding-left: 83%;
}
li :hover{
    background-color: unset;
}
#extraTitle,#extraDetails,#totalTitle,#totalDetails{
    font-size: larger;
}
hr {
    width: 201%;
}
#extrasHr,#totalsHr{
    width: 100%;
}
#backButton{
    /*transform: rotate(180deg);*/
}
h2{
    padding-left: 5%;
    color: black;
}
table{
    padding: 1%;
    border-collapse: collapse;
}
#batsmanStatus {
    text-align: left;
    color: darkslategray;
    font-size: small;
    padding: 0% 0% 0% 1%;
}
#playerName{
    color: black;
}

td{
    width:5%;
    text-align: right;
    padding-left: 1%;
}
#leftTd,#playerName{
    text-align: left;
    width: 25%;
}
#tableHead{
    color: darkslategray;
    padding: 2%;
    background-color: #8fbc8f8f;
}
#teamHeading{
    background-color: darkgreen;
}
#listOfTeamHeading{
    background-color: unset;
}
#upImg{
    transform: rotate(180deg);
    padding-right: 46%;
    padding-top: 18%;
}
img{
    padding-left: 46%;
    padding-top: 18%;
}
#teamName{
    font-size: xx-large;
}
#scoreWicketOver{
    color: white;
    padding-left: 70%;
}

img#backArrow {
    width: 5%;
    padding: 0% 0% 0% 1%;
    /*transform: rotate(180deg);*/
}
span {
    font-size: xxx-large;
    padding: 10%;
    color: white;
}