div#teamTitle {
    padding: 4%;
    background-color: darkgreen;
}
img#backArrow {
    width: 5%;
}
span#teamNameWhite {
    font-size: xxx-large;
    padding: 10%;
    color: white;
}
ul#playerDetails {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1%;
    padding: 1%;
}
li#editIconLi {
    width: 10%;
}
img {
    width: 38px;
}
img#scroll {
    width: 49px;
}
li#playerName {
    padding-top: 2%;
    text-align: left;
    width: 57%;
}
div#playerListDiv {
    padding: 1%;
    background-color: lightgray;
}
li#personIconLi {
    width: 13%;
}
div#playerDetails {
    background-color: white;
    border-radius: 12px;
    margin-bottom: 1%;
}
img#personIcon {
    background-color: darkgreen;
    border-radius: 50%;
    width: 56%;
}
table{
    width: 100%;
}
td{
    text-align: left;
    font-size: larger;
    padding: 10px 20px 5px;
    width: unset;
}
img{
    width: 30px;
}
#teamListDiv{
    padding:1%;
    background-color: #80808017;
}
button{
    padding: 0%;
}
#editTeamName,#remove{
    width: 60px;
    padding: 3%;
}
#teamName{
    color: white;
    border-radius: 50%;
    padding: 0%;
    width: 13%;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}
h3{
    color: white;
}
#teamDiv{
    background-color: white;
    margin: 1%;
    border-radius: 10px;
    padding: 1%;
}